$container-back: #7f70ac;
$container-text: #e2dcf6;

$page-back: #403075;
$page-text: #e2dcf6;

$primary-back: #e2dcf6;
$primary-text: #170a3e;

@mixin background-bump($color, $lradius, $rradius) {
  background: $color;
  border-color: lighten($color, 20%) darken($color, 20%) darken($color, 20%)
    lighten($color, 20%);
  border-radius: $lradius $rradius $rradius $lradius;
  border-style: solid;
  border-width: 1px;
}

@mixin background-dip($color, $lradius, $rradius) {
  background: $color;
  border-color: darken($color, 20%) lighten($color, 20%) lighten($color, 20%)
    darken($color, 20%);
  border-radius: $lradius $rradius $rradius $lradius;
  border-style: solid;
  border-width: 1px;
}

body {
  padding: 32px;
  margin: 0;
  background: $page-back;
  color: $page-text;
  font: normal normal normal 12px "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0 0 32px 0;
  font-size: 300%;
  font-variant: small-caps;
}

.container {
  padding: 16px;
  margin: 8px;
  color: $container-text;
  background: $container-back;
  border-radius: 4px;

  h2 {
    margin: 0 0 16px 0;
    font-size: 150%;
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;

    .tile {
      h3 {
        padding: 4px 8px;
        margin: 0 0 8px 0;
        font-size: 125%;

        color: $container-text;
        @include background-bump($container-back, 4px, 4px);
      }

      flex: 1;
      min-width: 480px;
      min-height: 320px;
      padding: 8px;
      margin: 4px;
      color: $primary-text;
      @include background-bump($primary-back, 8px, 8px);
    }
  }
}

.form {
  .group {
    margin: 8px;

    input[type="button"] {
      padding: 6px 12px;
      color: $primary-text;
      @include background-bump($primary-back, 8px, 8px);

      &:active {
        padding: 7px 11px 5px 13px;
        @include background-dip($primary-back, 8px, 8px);
      }
    }

    input[type="password"] {
      padding: 6px;
      color: $primary-text;
      @include background-dip($primary-back, 8px, 8px);
    }

    textarea {
      box-sizing: border-box;
      min-height: 300px;
      width: 100%;
      padding: 6px;
      color: $primary-text;
      @include background-dip($primary-back, 8px, 0);
      font: normal normal normal 12px "Courier New";
    }

    .field {
      margin-right: 8px;
    }
  }
}
